
:root{
    --primary--color: #697eb9;
}

.card{
    grid-area: card;
}
.card_2{
    grid-area: card_2;
}

.container_transaction{
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-areas: 
    "card card_2"
    ;
    grid-gap: 20px;
    justify-content: center;

}
.card,.card_2{
    background-color: white;
    border-radius: 15px;
    height: 570px;
    margin-top: 50px;
    
}

.card{

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.card_2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_2 > h2{
    margin-top: 20px;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin: 30px 60px;
    padding-left: 5%;
} 
input{
    background-color: #e0e2e7;
    padding: 2px;
}


input:focus{
    outline: 1px solid var(--primary--color);
}
.table-content{
    width: 90%;
    height: 67%;
    overflow-y: auto;
    
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary--color);
  }

 table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    
 }
 th{
    position: sticky;
    top: 0;
    z-index: 2;
    color: #ffffff;
    background-color: var(--primary--color);
    padding: 10px;
    border-collapse: separate;
    border-spacing: 8px;
 }
 td{
    
    padding: 15px;
    border-radius: 10px;
 
 }
 td{ 
    padding: 10px;
    text-align: center;
    background-color: #e9eaee;
    color: var(--primary--color);
   
 }
