nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #230549;
    justify-content: space-around;
    justify-items: end;

}

.pages {
    display: flex;
    gap: 20px;
   
}

