.content{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.content{
width: 95%;
height: 220px;
display: flex;
align-items: center;
justify-content: center;
margin: auto;

}

.section_1,.section_2{
    width: 41%;
    height: 90%;
    border-radius: 15px;
   
    
}