.icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-content p{
    width: 200px;
    border: 1px solid;
    padding: 18px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 127, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    text-align: center;
    font-weight: bolder;
    border-color: rgb(0, 127, 253);
}

@media screen and (max-width: 768px) {
    .icon-content  {
        width: 35vh;
    }
}