.icon-content {
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-content p{
    width: 200px;
    border: 1px solid;
    padding: 18px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: rgb(0, 127, 253);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vh;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .icon-content p {
        width: 200px;
    }
}