.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 20px;

}

.primary-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.aside {
    width: 600px;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.chart {
    display: flex;
    width: 95%;
    margin: 2%;
    border-radius: 15px;
    justify-content: center;
    background-color: #b1a5c9;
}

.table_content {
    width: 95%;
    height: 62%;
    border-radius: 15px;
    background-color: #b1a5c9;
}