.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}


.saldo {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

.saldo-content {
    position: relative;
    top: 15px;




}



.eye {
    color: rgb(0, 127, 253);
    font-size: 2.5vh;
    margin: 0 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

.eye:hover {
    transform: scale(1.2);
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 2vh;


}

.search {
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding-left: 10px;
    transition: transform 0.5s;
}

.search:hover {
    transform: scale(1.3);
}

.section-content {
    width: 70%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    margin-top: 10px;

}

.section {
    display: flex;
    height: 40px;
    margin: 10px;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5px;

}

.userProf {
    font-size: 6vh;
    color: rgb(0, 127, 253);
}

.section-home {
    display: flex;
    width: 70%;

    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

}

.section-primary {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.label {
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 127, 253);
    padding: 20px;
}

.primary-content {
    display: flex;
    align-items: center;
    margin: 1px;
    border-radius: 20px;
}

.section-secondary {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;


}

.banks {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 468px) {
    .table-value {
        width: 200px;
    }

}

@media screen and (max-width: 768px) {
    .section-content {
        width: 90%;
        height: 130px;
    }

    .section-home {
        flex-direction: column;
        margin-top: 20px;
        width: 90%;
        height: 100%;
    }

    .section-primary, .section-secondary {
        display: flex;
        width: 100%;


    }

    .banks {
        display: flex;
        align-items: center;
    }


    .primary-content {
        width: 91%;
        margin: 20px;

    }

    .table-value {
        display: table;

    }



}

@media screen and (max-width: 1590px) {
    .section-home {

        flex-direction: column;
        margin-top: 20px;
        width: 87%;
        height: 100%;
    }

    .section-primary {
        height: 800px;
        flex-direction: column;
    }

}

.banks {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.icon {
    font-size: 60px;
    border-bottom: 10px solid blue;
    border: 1px solid;
    border-radius: 20%;
    transition: transform 0.5s;
}

.icon:hover{
    transform: scale(1.2);
}

.nubank {
    color: blueviolet;

}

.picpay {
    color: rgb(8, 175, 8);
}



.secondary p, .spans {
    width: 200px;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 127, 253);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.secondary {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.spans {
    width: 90px;
    display: flex;

}

table, td, th {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 127, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}

.table-value {
    width: 300px;
}

.table-value td {
    color: white;
    text-align: center;
    background-color: rgb(0, 127, 253);
}
.addS{
    width: 150px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(0, 127, 253);
    margin-left: 10px;
}
.add {
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

.add:hover{
    transform: scale(1.2);
}

.inputSaldo{
    display: flex;
    margin-left: 10px;
    font-size: 1.5vh;
    width:80px;
    border-radius: 10px;
}