.input-form{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: none;
}

.input-content{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 1.2rem;
    color: white;
}