:root {
    --primary--color: #697eb9;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}

.container {
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: 250px 350px;
    grid-template-areas:
        "card1 card2"
        "card3 card3"     
    ;
    grid-gap: 50px;
    justify-content: center;
    

}
.card1,.card2,.card3{
    margin-top: 50px;
}
.card1, .card2,.card3 {
    background-color: white;
    border-radius: 15px;

}

.card1 {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 50px;
}

.card1 h3{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #697eb9;
}
.card1 p{
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #697eb9;
    padding: 20px;
    border-radius: 20px;
   
}



.card2 {  
    height: 250px;
   
}


.card3 {  
    height: 350px;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
  
   
}

.form-metas{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.addMeta{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 20px auto;
    
}

.lists-metas{
    width: 75%;
    height: 95%;
    margin: 0rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content{
    width: 40%;
    padding: 0;
    margin-left: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
}