:root {
    --primary--color: #697eb9;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}

.container {
    display: grid;
    grid-template-columns: 20% 50%;
    grid-template-rows: 250px 350px;
    grid-template-areas:
        "card1 card2"
        "card3 card3"     
    ;
    grid-gap: 50px;
    justify-content: center;
    

}
.card1,.card2,.card3{
    margin-top: 50px;
}
.card1, .card2,.card3 {
    background-color: white;
    border-radius: 15px;

}

.card1 {
    height: 250px;
    
}

.card2 {  
    height: 250px;
   
}
.card3 {  
    height: 350px;
    display: flex;
   flex-direction: column;
  
   
}

.form-metas{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.addMeta{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 20px 20px;
}

.lists-metas{
    width: 45%;
    height: 70%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}
